<launch>

    <arg name="arg_ns" default="mower"/>
    <group ns="$(arg arg_ns)">

        <!--    #### Node mower  #####-->
        <node name="node_mower" pkg="vitulus_mower" type="node_mower" respawn="true" respawn_delay="1" output="screen">
<!--            <param name="prm_name" value="prm_value"/>-->
<!--            <remap from="/topic" to="/another_topic" />-->
        </node>

    </group>

</launch>
